#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0 .5em 0 0;
}

#tabs a {
    background: #cacac9;
    background-image: -webkit-gradient(linear, left top, left top, from(#fff), to(#cacac9));
    background-image: -webkit-linear-gradient(top, #fff, #cacac9);
    background-image: -moz-linear-gradient(top, #fff, #cacac9);
    background-image: -ms-linear-gradient(top, #fff, #cacac9);
    background-image: -o-linear-gradient(top, #fff, #cacac9);
    background-image: linear-gradient(to top, #fff, #cacac9);  
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    color: #444;
    float: left;
    font-size: 14pt;
    min-width: 150px;
    padding: .4em 2em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
    cursor: default;
}

#tabs a::after {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;  
    bottom: 0;
    width: 1em;
    background: #cacac9;
    background-image: -webkit-gradient(linear, left top, left top, from(#fff), to(#cacac9));
    background-image: -webkit-linear-gradient(top, #fff, #cacac9);
    background-image: -moz-linear-gradient(top, #fff, #cacac9);
    background-image: -ms-linear-gradient(top, #fff, #cacac9);
    background-image: -o-linear-gradient(top, #fff, #cacac9);
    background-image: linear-gradient(to top, #fff, #cacac9);  
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transform: skew(10deg);
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;  
}

#dvExpediente{
    background: #fff;
    border: 1px solid #cccccb;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    -moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 7px 5px 7px;
    position: relative;
    z-index: 2;
}

.dvDocumento{
    border: 1px solid #b7b6b4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    margin-bottom: 3px;  
    min-height: 22px;
    width: auto;
}
.spnTituloDoc{
    background-color: #dddddc;/*#b4cfec;*/
    border-bottom: 1px solid #b7b6b4;
    display: block;    
    width: auto;
}
.spnTitulo{
    display: inline-block;
    font-family: "arial", sans-serif;
    font-size: 9pt;
    font-weight: bold;
    padding: 4px 2px 4px 5px;
}
.lnkBtnColapsUp{
    background-image: url(../../../../includes/css/imgs/grid/xup.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #b7b6b4;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: block;
    float: right;
    height: 22px;
    vertical-align: middle;
    width: 35px;
}
.lnkBtnColapsUp:hover{
    background-color: #e8e9e8;
}
.lnkBtnColapsDown{
    background-image: url(../../../../includes/css/imgs/grid/xdown.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #b7b6b4;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: block;
    float: right;
    height: 22px;
    vertical-align: middle;
    width: 35px;
}
.lnkBtnColapsDown:hover{
    background-color: #e8e9e8;
}

.dvContent-Doc{
    padding: 1px;
    position: relative;
    text-align: center;
}
.dvDoctos{
    /*border-right: 1px solid #d7d7d7;*/
    display: inline-block;
    min-height: 95px;
    padding: 3px 2px 3px 2px;
    text-align: left;
    width: 670px;
}
.dvDocto{
    display: inline-block;
    height: 100px;
    margin: 2px 3px;
    text-align: center;
    vertical-align: middle;
    width: 76px;
}
.lnkImgDoc{
    border: 1px solid #9e9c9b;
    display: block;
    height: 82px;
    margin: auto auto;
    text-align: center;
    vertical-align: middle;
    width: 72px;
}
.lnkImgDoc:hover{
    border: 1px solid #79baec;
    box-shadow: 1px 1px 4px 1px #79baec;
}
.lnkImgDoc img{
    border: none;
    margin: auto auto;
    max-height: 82px; 
    max-width: 72px;
    vertical-align: middle;
}
.lnkDocDlt{
    background-color: #9e9c9b;
    border: 1px solid #9e9c9b;
    color: #dddddc;
    display: block;
    font-size: 8pt;
    font-weight: normal;
    margin-top: 0px;
    margin-left: 1px;
    padding: 1px;
    position: absolute;
    text-align: center;
    width: 70px;
}
.lnkDocDlt:hover{
    border: 1px solid #79baec;
    color: #ffffff;
    text-decoration: none;
}
.lnkBtnAddDoc{
    background-color: #bebebc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bebebc));
    background-image: -webkit-linear-gradient(top, #fff, #bebebc);
    background-image: -moz-linear-gradient(top, #fff, #bebebc);
    background-image: -ms-linear-gradient(top, #fff, #bebebc);
    background-image: -o-linear-gradient(top, #fff, #bebebc);
    background-image: linear-gradient(to bottom, #fff, #bebebc);
    border: 1px outset #a09f9d;
    border-radius: 5px;
    color: #504a4b;
    display: block;
    margin: auto auto;
    padding: 4px;
    width: auto;
}
.lnkBtnAddDoc img{
    border: none;
    vertical-align: middle;
}
.lnkBtnAddDoc:hover, .lnkBtnAddDoc:focus{
    border: 1px solid #79baec;
    box-shadow: 1px 1px 4px 1px #79baec;
    text-decoration: none;
}

#dvPrevImg{
    display: block;
    margin: auto auto;
    min-height: 50px;
    min-width: 150px;
    text-align: center;
}
#dvPrevImg img{
    border: 1px solid #b3b3b1;
    position: relative;
    vertical-align: middle;
}
.spnLoading{
    background-image: url(../../includes/css/imgs/grid/loader.gif);
    background-position: center center;
    display: block;
    height: 30px;
    margin: auto auto;
    width: 30px;
}
#dvShowImg{
    border: 1px solid #a09f9d;
    margin: auto auto; 
    max-width: 950px;
}